{% extends 'base.html' %}
{% block content %}
  <h2>Create new event</h2>
  <form action="{{ url_for('create_event_action') }}" method="POST">
    <label>Business Name:
      <select name="business_name">
        {% for business in businesses %}
          <option value="{{ business.business_id }}">{{ business.name }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Event Name:
      <input type="text" name="event_name">
    </label>
    <label>Event Type:
      <input type="text" name="event_type">
    </label>
    <label>Event Description:
      <input type="textbox" name="event_description">
    </label>
    <label>Start Time:
      <input type="date" name="event_start_time">
    </label>
    <label>End Time:
      <input type="date" name="event_end_time">
    </label>
    <button type="submit">Save Event</button>
  </form>

{% endblock %}